
<div class="row">
    <div class="col-xs-12">
        <label>Element Name</label>
        
        <input 
        type="text" 
        class="form-control" 
        #NameElement>

        <label>Element Content</label>
        
        <input 
        type="text" 
        class="form-control" 
        #ContentElement>

        <label>RQ this</label>
        <input 
        type="text" 
        class="form-control" 
        #QRcodethis>
        
        <button
        class="btn btn-primary"
        (click)="onAdd(NameElement,ContentElement,QRcodethis)">
        Add Element
        </button>